* {
   font-size: 18px;
   font-family: 'Roboto';
   font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  width: 100%;
  padding: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 300px;
  padding: 8px;

}

.split {
  display: flex;
  flex-direction: row;
}

.fourth {
  width: 25%;
  margin-right: 8px;
}

.cart {
  border: 2px solid orange;
  width: 100%;
  height: 100%;
}

.student-details {
  border: 2px solid orange;
  width: 100%;
  height: 100%;
}

.payment {
  border: 2px solid orange;
  width: 100%;
  height: 100%;
}

.review-order {
  border: 2px solid orange;
  width: 100%;
  height: 100%;
}

.confirmation {
  border: 2px solid orange;
  width: 100%;
  height: 100%;
}

.payment-item {
  width: 500px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.student-item {
  font-size: 12px;
  margin: 15px;
}

.order-item {
  font-size: 12px;
  margin: 15px;
}

pre {
  font-size: 12px;
}

.spacer {
  height: 40px;
  width: 400px;
}

.review-item {
  font-size: 12px;
}

.place-order {
  background-color: gold;
}