@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
  --light-grey: #F6F9FC;
  --dark-terminal-color: #0A2540;
  --accent-color: #635BFF;
  --radius: 3px;
}

body {
  padding: 20px;
  font-family: 'Raleway';
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: var(--dark-terminal-color);
}

form > * {
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: var(--accent-color);
}

button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
button:hover {
  filter: contrast(115%);
}
button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
button:disabled {
  opacity: 0.5;
  cursor: none;
}

input, select {
  display: block;
  font-size: 1.1em;
  width: 100%;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: .6em;
}

fieldset, input, select {
  border: 1px solid #efefef;
}


#payment-form {
  border: #F6F9FC solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  background-color: #0A253C;
  color: #00D924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size:0.7em;
}

.main {
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
  height: 1450px;
  width: 800px;
  padding: 20px;
}

.row {
  /* border: 3px solid #f300c6; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100px;
}

.half {
  /* border: 3px solid #f300c6; */
  padding: 20px;
  width: 50%
}

.p-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.p-console {
  display: flex;
  flex-direction: row;
  position: relative;
  /* justify-content: space-around; */
  height: 250px;
  width: 100%;
  background-color: #0A253C;
  color: #ffffff;
  overflow-wrap: break-word;
  /* margin-right: 30px; */
  /* border: 3px solid #17cf17; */
  top: 20px
}

.small-console {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  height: 120px;
  width: 100%;
  background-color: #0A253C;
  color: #ffffff;
  padding: none;
  margin: none;
    /* border: 3px solid #ec400c; */
}

.customer {
  color: #00D924;
}

.product {
  color: orange;
}

.return {
  color: red;
  overflow-wrap: break-word;

}

.card {
  color: cyan;
}

.p-box {
  margin-top: 10px;
  padding: 25px;
  padding-bottom: 40px;
  height: 50%;
}

#submit-button {
  margin-top: none !important;
  background-color: green;
}

.pay-button {
  margin-top: 40px;
  padding: 8px;
  width: 90px;
}

.s-half {
  height: 138px;
}

.s-box {
  padding: 10px;
}

.p-console-side {
  margin-right: 40px;
}

/* .console-container {
  display: flex;
  felx-direction: column;
} */